wheel           # pip dependency
cnocr           # text rec
cnstd           # text rec
opencv-python   # img rec
ruamel.yaml     # yaml
pure-python-adb # adb
dpath           # yaml-dict xpath access
Pillow          # PIL
numpy           # for cv
matplotlib      # debug plotting
requests        # Download
click           # pipe_runner command arguments
flask           # http api server
flask_socketio  # Status socketio server
gevent          # WSGI http server
gevent-websocket # WSGI websocket server
python-socketio # socketio client
python-socketio[client]
bitarray
